<a href="https://colab.research.google.com/github/Rossember555/CFDPython/blob/master/Copia_de_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
accum = 0
for w in nums:
    accum = accum + w
print(accum)

55

In [0]:
accum = 0
for w in range(11):
    accum = accum + w
print(accum)

# or, if you use two inputs for the range function

sec_accum = 0
for w in range(1,11):
    sec_accum = sec_accum + w
print(sec_accum)

55
55

In [0]:
numbers = list(range(0,53))
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52]

In [0]:
numbers = list(range(0,41))
sum1 = 0
for w in numbers:
    sum1 = sum1 + w
print(sum1)

820

In [0]:
fruits = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for n in range(5):
    print(n, fruits[n])

0 apple
1 pear
2 apricot
3 cherry
4 peach

In [0]:
fruits = ['apple', 'pear', 'apricot', 'cherry', 'peach']
for n in range(len(fruits)):
    print(n, fruits[n])

0 apple
1 pear
2 apricot
3 cherry
4 peach

In [0]:
for i in range(5):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

In [0]:
x = "Hola"
for y in x:
  w = x
  print(w)

Hola
Hola
Hola
Hola

In [0]:
w = range(10)

tot = 0
for num in w:
    tot += num
print(tot)

45

In [0]:
w = range(10)

tot = 0
for num in w:
    print(num)
    tot += num
print(tot)

0
1
2
3
4
5
6
7
8
9
45

In [0]:
addition_str = "2+5+10+20"

sum_value = 0
d = addition_str.split("+")
for v in d:
  a = int(v)
  sum_value += a
print(sum_value)

37

In [0]:
week_temps_f = "75.1,77.7,83.2,82.5,81.0,79.5,85.7"

week = 0
d = week_temps_f.split(",")
for v in d:
  a = float(v)
  week += a
  avg_temp = week / len(d)
print(avg_temp)

80.67142857142858

In [0]:
len(d)

7

In [0]:
week

564.7

In [0]:
original_str = "The quick brown rhino jumped over the extremely lazy fox"
n = original_str.split(" ")
for v in n:
  print(len(v))

3
5
5
5
6
4
3
9
4
3

In [0]:
original_str = "The quick brown rhino jumped over the extremely lazy fox"

original_list = list(original_str.split())
num_words = len(original_list)
num_words_list = []
for i in original_list:
    num_words_list.append((len(i)))

print(num_words_list)

[3, 5, 5, 5, 6, 4, 3, 9, 4, 3]

In [0]:
b = [3,5,6]
3 in b

True

In [0]:
3==4

False

In [0]:
2>3 and -4<0

False

In [0]:
l = ["Matemáticas","Español","Sociales"]
for i in l:
  print("Yo estudie", i)

Yo estudie Matemáticas
Yo estudie Español
Yo estudie Sociales

In [0]:
x not in "rossember"

True

In [0]:


x = 16
for i in range(1,15):
  if x % i == 0:
    print(x, "es divisible por ", str(i))
  else:
    print(x, "no es divisible por ", str(i))

16 es divisible por  1
16 es divisible por  2
16 no es divisible por  3
16 es divisible por  4
16 no es divisible por  5
16 no es divisible por  6
16 no es divisible por  7
16 es divisible por  8
16 no es divisible por  9
16 no es divisible por  10
16 no es divisible por  11
16 no es divisible por  12
16 no es divisible por  13
16 no es divisible por  14

In [0]:
a=19
b=15
if b>a:
  print(a*2)
else:
  print(a)

19

In [0]:
x = -10
if x < 0:
    print("The negative number ",  x, " is not valid here.")
else:
    print(x, " is a positive number")

The negative number  -10  is not valid here.

In [0]:
x = 10
y = 10

if x < y:
    print("x is less than y")
else:
    if x > y:
        print("x is greater than y")
    else:
        print("x and y must be equal")

x and y must be equal

In [0]:
str1 = "Today you are you! That is truer than true! There is no one alive who is you-er than you!"

if "false" in str1:
    output = "False. You aren’t you?"
elif "true" in str1:
    output = "True! You are you!"
else:
    output = "Neither true nor false!"

In [0]:
# Contar el número de letras de un stri
frase = "Hola      Mundo"
tot=0
for i in frase:
  if i != " ":
    tot = tot + 1
print(tot)

9

In [0]:
#Contar el numero de vocales de una frase
fras1 = "Caracteristivas Universales"
tot = 0
for i in fras1:
  if i in ["a","e","i", "o", "u"]:
    tot +=1
print(tot)

10

In [0]:
# Programa para determinar el número más grande de una lista
nums = [9,3,5,200,8,10]
best = nums[1]
for n in nums:
  if n > best:
    best = n
print(best)

200

In [0]:
words = ["water", "chair", "pen", "basket", "hi", "car"]

num_words = 0
for i in words:
    if len(i) > 3:
        num_words += 1

In [0]:
#Modificar una lista: Cambiar verbos
words = ["adopt", "bake", "beam", "confide", "grill", "plant", "time", "wave", "wish"]

past_tense = []
for i in words:
    if(i[len(i)-1] == 'e'):
        i += 'd'
    else:
        i += 'ed'
    past_tense.append(i)

In [0]:
print(past_tense)

['adopted', 'baked', 'beamed', 'confided', 'grilled', 'planted', 'timed', 'waved', 'wished']